{% extends 'inventario/base.html' %} 

{% load static %}

{% block contenido %}

{% load humanize %}
<div class="d-flex justify-content-between">
    <div>
        <h1>Grupo Almar</h1>
    </div>
    <div>
        <a href="{% url 'ver_carrito' %}" class="btn btn-primary mt-2"> 
            <i class="bi bi-cart fs-5"></i> Carrito de Compras 
        </a>
    </div>
</div>

<table class="table table-striped table-hover table-responsive-sm table-warning">
    <thead class="table-dark">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>F.Venc</th>
        <th>Código Bulto</th>
        <th>Unidades</th>
        <th>Precio Bulto</th>
        <th>Marca</th>
        <th>Acción</th>
    </thead>
    
    {% for articulo in articulos %}
        {% if articulo.proveedor.nombre == "Grupo Almar" %}
            <tr>
                <td><span id="contador-{{ articulo.id }}" class="position-absolute translate-middle badge rounded-pill bg-danger" hidden>0</span> {{ articulo.nombre }}</td>
                <td>{{ articulo.descripcion }}</td>
                <td>{{ articulo.fecha_vencimiento | date:"d/m/y" }}</td>
                <td>{{ articulo.codigo_bulto }}</td>
                <td>{{ articulo.cantidad_bulto }}</td>
                <td>${{ articulo.precio_bulto }}</td>
                <td>{{ articulo.marca }}</td>
                <td>
                    <div class="form-check form-switch">
                        <form method="POST" action="{% url 'agregar_al_carrito' articulo.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="producto" value="{{ articulo.id }}">
                            <input type="hidden" name="cantidad" value="1">
                            <input class="form-check-input" type="checkbox" id="switch-{{ articulo.id }}" onchange="this.form.submit()">
                            <label class="form-check-label" for="switch-{{ articulo.id }}">{{ articulo.nombre }}</label>
                        </form>
                    </div>
                </td>
            </tr>
            {{ message }}
        {% endif %}
    {% endfor %}
</table>
{% include 'proveedores/paginator_proveedores.html' with productos=articulos %}
    {% block js %}
        <script src="{% static 'proveedores/js/proveedores.js' %}"></script>
    {% endblock %}
{% endblock %}