{% extends 'inventario/base.html' %} 

{% block contenido %}

<h1>PROVEEDORES</h1> 

<div class="d-flex flex-wrap justify-content-between text-dark">
  {% for proveedor in proveedores %}
  <div class="card border border-info border-3" style="width: 20rem;">
    {% if proveedor.imagen_proveedor %} 
      <img src="{{ proveedor.imagen_proveedor.url }}" alt="{{ proveedor.nombre }}" class="card-img-top" style="height: 200px; object-fit: cover;"> 
    {% else %} 
      <p>No hay imagen disponible</p> 
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ proveedor.nombre }}</h5>
        <p class="card-text">{{ proveedor.descripcion | title}}</p>
        {% if proveedor.nombre == "SRB Distribuidora" %}
          <div class="d-flex justify-content-end">
            <a href="{% url 'bebidas' %}" class="btn btn-primary">Ir a la tienda</a>
          </div>
        {% elif proveedor.nombre == "Congelados Food" %}
          <div class="d-flex justify-content-end">
            <a href="{% url 'congelados' %}" class="btn btn-primary">Ir a la tienda</a>
          </div>
        {% else %}
          <div class="d-flex justify-content-end">
            <a href="{% url 'alimentos' %}" class="btn btn-primary">Ir a la tienda</a>
          </div>
        {% endif %}
      </div>
  </div>
{% endfor %}
</div>

{% endblock %}