{% extends 'inventario/base.html' %}
{% block contenido %}

{% load static %}
    <link rel="stylesheet" href="{% static 'inventario/css/gracias.css' %}">

<div class="container d-flex justify-content-center">
    <div class="contenido">
        <h1 class="text-dark">Gracias por ponerse en contacto con el área de soporte técnico de HalconTech.</h1>
        <p>Hemos recibido su consulta y le responderemos a la brevedad posible.</p>
        <p>Si prefiere una atención más personalizada, no dude en comunicarse con nosotros a través de nuestro número de teléfono: (011)-6126-1925</p>
    </div>
</div>

{% endblock %}

