{% extends 'inventario/base.html' %} 
{% block contenido %}

{% load crispy_forms_tags %}

{% load static %}
<link rel="stylesheet" href="{% static 'inventario/css/agregar.css' %}">

<div class="row text-light">
  <div class="col-9 col-md-9 centrar">
    <div class="card">
      <div class="card-body bg-dark">
        <h2>EDITAR PRODUCTO</h2>
        <hr>
        <form class="formulario-personalizado" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %} 
          {{ form | crispy }}
          <div class="d-flex justify-content-center">
            <a href="{% url 'listado' %}" class="btn btn-secondary">Cancelar</a>
            &nbsp;
            <input type="submit" value="Editar" class="btn btn-primary" />
          </div>
        </form>
        {{ mensaje }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
