{% extends 'inventario/base.html' %}
{% block contenido %}

{% load static %}
<link rel="stylesheet" href="{% static 'inventario/css/pagar_productos.css' %}">

<h1>RESUMEN DE COMPRA</h1>
{% if file_id %}
    <div class="container d-flex justify-content-center">
        <div class="contenido">
            <h2>¡Gracias por su pedido!</h2>
            <p>Ya recibimos su encargo y llegará 24hs después luego de abonar el mismo. A continuación, puede imprimir el resumen de su boleta.</p>
    
            <div class="d-flex justify-content-center">
                <a href="{% url 'descargar_pdf' %}?file={{ file_id }}" class="btn btn-checkout btn-danger w-25">
                    Imprimir Boleta
                </a>
            </div>
        </div>
    </div>
{% else %}
<div class="container d-flex justify-content-center">
    <div class="contenido">
        <p class="no_pdf">No hay PDF disponible para descargar!!!</p>
    </div>
</div>
    
{% endif %}

{% endblock %}

