{% extends 'inventario/base.html' %} 
{% block contenido %}

<h1>SESIONES DE USUARIOS</h1> 
<table class="table table-striped table-hover table-responsive-sm table-dark"> 
    <thead class="table-primary">
        <th>Nombre de usuario</th> 
        <th>Entrada</th> 
        <th>Salida</th> 
    </thead>
    {% for sesion in sesiones %} 
    <tr> 
        <td>{{ sesion.user.username }}</td> 
        <td>{{ sesion.login_time }}</td> 
        <td>{{ sesion.logout_time }}</td> 
    </tr> 
    {% endfor %}
</table>
{% include 'proveedores/paginator_proveedores.html' with productos=sesiones %}
{% endblock %}